<section class="properties cf">


	<div class="sorry" ng-hide="signedIn()">
		
	you must be logged in to view this page

		<div ng-include="'views/tlm.html'"></div>

	</div>

	<div ng-show="signedIn()">
		<h1>all properties</h1>
			<div ng-repeat="user in users">
				<div class="proplist">

					<h1>{{user.mainChar}}</h1>
					<hr width="30%">

					<div ng-repeat="(key,value) in user">
						
						<div ng-if="key=='properties'">
							<div ng-repeat="(key,i) in value">
								<br><h2>{{key}}</h2>
								<hr width="30%">
								<div class="properties property" ng-repeat="(key,property) in i | groupBy: property.propowner">

									<a ng-href="#/propstats/{{property.user}}/{{property.propowner}}/{{key}}">
										<div>
											<span><h3>{{property.proptype}}</h3> in </span><br>

											<span><h3>{{property.proplocation}}</h3>
											
											<span ng-if="property.howmanypacks>0"><img height="40px" width="40px" ng-src="./images/pack.png" alt="pack icon"> x{{property.howmanypacks}}<br></span>
											
										</div>

									</a>
<!-- 									<button class="btn btn-delete tooltip" ng-click="deleteProperty(key,property)"><span>delete</span></button>
									<button class="btn btn-check tooltip" ng-click="payTaxes(key,property)"><span>pay taxes</span></button> -->
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>